<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Curso/listCursoView :: head}"></head>
<body class="p-3">
    <div class="container">
        <div th:replace="~{Curso/listCursoView :: menu}"></div>
        <h1 class="mb-3">Editar Autor</h1>
        <form method="post" action="#" th:action="@{/autores/editar/submit}" th:object="${autor}" class="row g-3">
            <input type="hidden" th:field="*{id}" />

            <div class="col-12 col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" />
            </div>
            <div class="col-12 col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" />
            </div>
            <div class="col-12 col-md-6">
                <label for="limiteCostoTotalCursos" class="form-label">Límite de coste total</label>
                <input type="number" step="0.01" min="0" class="form-control" id="limiteCostoTotalCursos" th:field="*{limiteCostoTotalCursos}" />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Guardar cambios</button>
                <a th:href="@{/autores}" class="btn btn-secondary ms-2">Cancelar</a>
            </div>
        </form>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
