<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Curso/listCursoView :: head}"></head>
<body class="p-3">

    <div class="container">
        <div th:replace="~{Curso/listCursoView :: menu}"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Cursos</th>
                    <th>Limite de Costes</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr>
                    <td th:text="${autor.id}">ID</td>
                    <td th:text="${autor.nombre}">Nombre</td>
                    <td th:text="${autor.email}">Email</td>
                    <td>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li th:each="curso : ${autor.cursos}"><a th:href="@{/{id}(id=${curso.id})}" th:text="${curso.nombre}"></a></li>
                        </ul>
                    </td>
                    <td th:text="${autor.limiteCostoTotalCursos}">Limite de Costes</td>
                </tr>
            </tbody>
        </table>

        <div>
            <a th:href="@{/autores}" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
