<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Curso/listCursoView :: head}"></head>
<body class="p-3">
    <div class="container">
        <div th:replace="~{Curso/listCursoView :: menu}"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Autor</th>
                    <th>Tematica</th>
                    <th>Vídeos Asociados</th>
                    <th>Influencers Asociados</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr th:each="cur : ${curso}">
                    <td th:text="${cur.id}">ID</td>
                    <td th:text="${cur.nombre}">Nombre</td>
                    <td th:text="${cur.precio}">Precio</td>
                    <td><a th:href="@{/autores/{id}(id=${cur.autor.id})}" th:text="${cur.autor.nombre}">Autor</a></td>
                    <td th:text="${cur.tematica}">Tematica</td>
                    <td>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li th:each="video : ${cur.videos}"><a th:href="@{/videos/{id}(id=${video.id})}" th:text="${video.descripcion}"></a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li th:each="promocion : ${cur.influencers}">
                                <a th:href="@{/influencers/{id}(id=${promocion.influencer.id})}" th:text="${promocion.influencer.usrIgrm}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>

        <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>